<style>
    .notifications-container {
        max-width: 300px;
        min-width: 250px;
        max-height: 300px;
        overflow-y: auto;
    }

    .notification-item {
        display: flex;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #e0e0e0;
    }

    .notification-avatar {
        margin-right: 10px;
    }

    .notification-message {
        flex-grow: 1;
        margin-right: 10px;
    }

    .notification-actions {
        display: flex;
        align-items: center;
    }

    .accept-button {
        margin-left: auto;
    }

    .no-notifications-message {
        padding: 10px;
        text-align: center;
    }

    .colorChange {
        color: white !important;
    }

    .mud-paper-outlined{
        border: none;
    }
</style>

<MudBadge Content="3" Overlap="true" Dot="true" Color="Color.Secondary" Visible="badgeVisible">
    <MudIconButton OnClick="ToggleOpenNotifications" Icon="@Icons.Material.Outlined.Notifications" Color="Color.Inherit" Edge="Edge.End" />
</MudBadge>
<MudPopover Open="_isOpen" OverflowBehavior="OverflowBehavior.FlipAlways" AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.BottomRight" Paper="true">
    <MudPaper Outlined="true" Class="notifications-container">
        <ul class="mud-list">
            @if (Invitations != null && NotificationsList != null)
            {
                @foreach (var invitation in Invitations)
                {
                    <li class="notification-item">
                        <div class="notification-avatar">
                            <div class="mud-avatar">
                                <div class="mud-avatar-child">
                                    <MudIcon Icon="@Icons.Material.Outlined.Person" Color="Color.Primary" />
                                </div>
                            </div>
                        </div>
                        <div class="notification-message">
                            <div class="mud-text">Invitation from @invitation.InvitingUserName to join group @invitation.GroupName</div>
                        </div>
                        <div class="notification-actions">
                            <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="accept-button" OnClick="() => AcceptInvitation(invitation)">
                                @if (_processing)
                                {
                                    <MudProgressCircular Class="ms-n1 colorChange" Size="MudBlazor.Size.Small" Indeterminate="true" />
                                    <MudText Class="ms-2">Accepting</MudText>
                                }
                                else
                                {
                                    <MudText>@BtnText</MudText>
                                }
                            </MudButton>
                        </div>
                    </li>

                    <MudDivider />
                }

                foreach (var notification in NotificationsList)
                {
                    <li class="notification-item">
                        <div class="notification-avatar">
                            <div class="mud-avatar">
                                <div class="mud-avatar-child">
                                    <MudIcon Icon="@Icons.Material.Outlined.Notifications" Color="Color.Primary" />
                                </div>
                            </div>
                        </div>
                        <div class="notification-message">
                            <div class="mud-text">@notification.NotificationMessage</div>
                        </div>
                        <div class="notification-actions">
                            <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="accept-button" OnClick="() => DeleteNotification(notification.NotificationId)">
                                @if (_processingNotificationDelete)
                                {
                                    <MudProgressCircular Class="ms-n1 colorChange" Size="MudBlazor.Size.Small" Indeterminate="true" />
                                    <MudText Class="ms-2">Deleting</MudText>
                                }
                                else
                                {
                                    <MudText>Delete</MudText>
                                }
                            </MudButton>
                        </div>
                    </li>

                    <MudDivider />
                }
            }
            else
            {
                <div class="no-notifications-message">No notifications received</div>
            }
        </ul>
    </MudPaper>
</MudPopover>

@if (badgeVisible)
{
    <audio autoplay><source src="audio/notification.mp3" /></audio>
}