@using SafeShare.ClientDTO.AccountManagment
<style>
    .mud-dialog {
        width: 400px !important;
    }

        .mud-dialog .mud-dialog-actions {
            padding: 8px 24px 16px 24px !important;
        }

        .mud-dialog .mud-dialog-title {
            padding: 16px 24px 8px 24px !important;
        }
</style>

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.GroupAdd" Class="mr-3 mb-n1" />
            Invite user to group
        </MudText>
    </TitleContent>
    <DialogContent>
        <EditForm @ref="@InviteUserToGroupForm" Model="Dto_SendInvitationRequest">
            <DataAnnotationsValidator />
            <MudTextField InputType="InputType.Text" @bind-Value="@Dto_SendInvitationRequest.InvitaitonMessage" Label="Invitation Message"
                          Adornment="Adornment.End"
                          AdornmentColor="Color.Primary"
                          Variant="Variant.Outlined"
                          Required=true />

            <MudGrid>
                <MudItem xs="12">
                    <MudAutocomplete OpenIcon="@Icons.Material.Filled.Search"
                                     T="ClientDto_UserSearched"
                                     Label="Search users by username"
                                     @bind-Value="SelectedUser"
                                     SearchFuncWithCancel="@Search"
                                     Variant="Variant.Outlined"
                                     ShowProgressIndicator="true"
                                     Clearable="true"
                                     CoerceValue="true"
                                     Required="true"
                                     Dense="true"
                                     SelectValueOnTab=true
                                     Context="Parent"
                                     ToStringFunc="@(item => item.UserName)">

                        <ItemTemplate>
                            @{
                                var user = Parent as ClientDto_UserSearched;
                                <div>
                                    <div>@user.UserName</div>
                                </div>
                            }
                        </ItemTemplate>

                        <ItemSelectedTemplate>
                            @{
                                var user = Parent as ClientDto_UserSearched;
                                <div>
                                    <div>@user.UserName</div>
                                </div>
                            }
                        </ItemSelectedTemplate>

                    </MudAutocomplete>
                </MudItem>
            </MudGrid>
        </EditForm>
    </DialogContent>
    <DialogActions>
        <MudButton Disabled="_processing" Color="Color.Primary" ButtonType="ButtonType.Submit" Variant="Variant.Filled" OnClick="ValidateForm">
            @if (_processing)
            {
                <MudProgressCircular Class="ms-n1" Size="MudBlazor.Size.Small" Indeterminate="true" Color="Color.Primary" />
                <MudText Class="ms-2" Color="Color.Primary">Inviting</MudText>
            }
            else
            {
                <MudText>Invite User</MudText>
            }
        </MudButton>
    </DialogActions>
</MudDialog>