@using System.Text;
@using SafeShare.Client.Shared.Forms;

<style>
    .my-custom-class {
        backdrop-filter: blur(10px);
    }

    .mud-skeleton-nav-btn {
        display: flex;
        padding: 8px 16px 8px 16px;
        gap: 20px;
    }

    .mud-skeleton-nav-links {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }
</style>

<MudPaper Width="350px" Class="d-inline-flex py-3" Elevation="0">

    <MudNavMenu Bordered="true" Class="mud-width-full" Color="Color.Primary">

        @if (!DataRetrieved)
        {
            <MudSkeleton Animation="Animation.Pulse" SkeletonType="SkeletonType.Rectangle" Height="40px" Width="100%" />
        }
        else
        {
            <MudNavLink Match="NavLinkMatch.All" ForceLoad="true" Href="/Dashboard" Icon="@Icons.Material.Filled.Dashboard" IconColor="Color.Inherit">Dashboard</MudNavLink>
        }

        <br />

        @if (!DataRetrieved)
        {
            <div class="mud-skeleton-nav-links">
                <MudSkeleton Animation="Animation.Pulse" SkeletonType="SkeletonType.Rectangle" Height="40px" Width="100%" />
                <MudSkeleton Animation="Animation.Pulse" SkeletonType="SkeletonType.Rectangle" Height="40px" Width="100%" />
                <MudSkeleton Animation="Animation.Pulse" SkeletonType="SkeletonType.Rectangle" Height="40px" Width="100%" />
                <MudSkeleton Animation="Animation.Pulse" SkeletonType="SkeletonType.Rectangle" Height="40px" Width="100%" />
                <MudSkeleton Animation="Animation.Pulse" SkeletonType="SkeletonType.Rectangle" Height="40px" Width="100%" />
            </div>
        }
        else
        {
            <MudNavGroup Title="Profile" Icon="@Icons.Material.Filled.Person" IconColor="Color.Inherit" Expanded="true">
                <MudNavLink Match="NavLinkMatch.All" Href="/Profile" Icon="@Icons.Material.Filled.RemoveRedEye" IconColor="Color.Inherit">See profile</MudNavLink>
                <MudNavLink Match="NavLinkMatch.All" Href="/Profile/Edit" Icon="@Icons.Material.Filled.Edit" IconColor="Color.Inherit">Update Data</MudNavLink>
                <MudNavLink OnClick="OpenPopUpChangeEmailForm" Icon="@Icons.Material.Filled.Email" IconColor="Color.Inherit">Change Email</MudNavLink>
                <MudNavLink OnClick="OpenPopUpChangePasswordForm" Icon="@Icons.Material.Filled.Password" IconColor="Color.Inherit">Change Password</MudNavLink>
                <MudNavLink OnClick="OpenPopUpDeactivateAccountForm" Icon="@Icons.Material.Filled.Delete" IconColor="Color.Inherit">Deactivate Account</MudNavLink>
            </MudNavGroup>
        }

        <MudDivider Class="my-2" />

        @if (!DataRetrieved)
        {
            <div class="mud-skeleton-nav-btn">
                <MudSkeleton Animation="Animation.Pulse" SkeletonType="SkeletonType.Circle" Height="40px" Width="40px" />
                <MudSkeleton Animation="Animation.Pulse" SkeletonType="SkeletonType.Circle" Height="40px" Width="40px" />
            </div>
            <br />

            <div class="mud-skeleton-nav-links">
                <MudSkeleton Animation="Animation.Pulse" SkeletonType="SkeletonType.Rectangle" Height="40px" Width="100%" />
                <MudSkeleton Animation="Animation.Pulse" SkeletonType="SkeletonType.Rectangle" Height="40px" Width="100%" />
            </div>
        }
        else
        {
            <div class="mud-skeleton-nav-btn">
                <MudTooltip Text="Create group" Color="Color.Primary" Placement="MudBlazor.Placement.Right" Arrow="true" Inline="false">
                    <MudFab OnClick="OpenPopUpCreateGroup" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" Size="MudBlazor.Size.Small" Class="m-sm-2" />
                </MudTooltip>
            </div>

            <MudNavGroup Title="Invitations" Icon="@Icons.Material.Filled.Info" IconColor="Color.Inherit" Expanded="true">
                <MudNavLink Match="NavLinkMatch.All" Href="/Group/RecivedInvitations" Icon="@Icons.Material.Filled.InsertInvitation" IconColor="Color.Inherit">Recived Invitations</MudNavLink>
                <MudNavLink Match="NavLinkMatch.All" Href="/Group/SentInvitations" Icon="@Icons.Material.Filled.Send" IconColor="Color.Inherit">Sent Invitations</MudNavLink>
            </MudNavGroup>

            <MudNavGroup Title="Groups Created" Icon="@Icons.Material.Filled.PeopleAlt" IconColor="Color.Inherit" Expanded="false">
                @if (GroupTypes is not null && GroupTypes.GroupsCreated is not null)
                {
                    @foreach (var group in GroupTypes.GroupsCreated)
                    {
                        <MudNavLink Match="NavLinkMatch.All" Href=@($"/Group/{group.GroupId}") Icon="@Icons.Material.Filled.People" IconColor="Color.Inherit">@group.GroupName</MudNavLink>
                    }
                }
            </MudNavGroup>

            <MudNavGroup Title="Groups Joined" Icon="@Icons.Material.Filled.PeopleAlt" IconColor="Color.Inherit" Expanded="false">
                @if (GroupTypes is not null && GroupTypes.GroupsJoined is not null)
                {
                    @foreach (var group in GroupTypes.GroupsJoined)
                    {
                        <MudNavLink Href=@($"/Group/{group.GroupId}") Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.People" IconColor="Color.Inherit">@group.GroupName</MudNavLink>
                    }
                }
            </MudNavGroup>
        }

    </MudNavMenu>

</MudPaper>