@page "/Group/{groupId:guid}"

<style>
    :root {
        --background-color1: #fafaff;
        --background-color2: #ffffff;
        --background-color3: #ededed;
        --background-color4: #cad7fda4;
        --primary-color: #4b49ac;
        --secondary-color: rgba(89,74,226,1);
        --Border-color: #3f0097;
        --one-use-color: #3f0097;
        --two-use-color: #5500cb;
    }

    body {
        background-color: var(--background-color4);
        max-width: 100%;
    }

    .tabs {
        padding: 20px;
    }

    .card {
        background-color: #fff;
        padding: 20px;
        width: 100%;
    }

    .tab-content.active {
        display: block;
    }

    .data-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .data-item {
        margin: 10px;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;
    }

        .data-item:hover {
            transform: translateY(-5px);
        }

    .data-label {
        font-weight: bold;
        margin-left: 5px;
    }

    #groupDetails {
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }

    .users-container {
        border-radius: 4px;
        background: white;
        width: 100%;
        padding: 20px 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .user-card {
        padding: 5px;
        flex-basis: calc(25% - 20px);
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        overflow: hidden;
        transition: transform 0.2s ease-in-out;
    }

        .user-card:hover {
            transform: scale(1.05);
        }

    .user-image {
        width: 100px;
        height: 100px;
        overflow: hidden;
        border-radius: 50%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

        .user-image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    .avatar-circle {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #3498db;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        font-weight: bold;
        color: #fff;
    }

    .user-details {
        padding: 20px;
    }

    .user-email, .user-username {
        margin: 0;
        font-size: 16px;
        font-weight: bold;
    }

    .user-email {
        color: #3498db;
    }

    .user-username {
        color: rgba(89,74,226,1);
    }

    .group-details-users-toolbar {
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
        background: rgba(89,74,226,1) !important;
    }

        .group-details-users-toolbar svg {
            color: white !important;
        }

    .mud-switch {
        margin: 0 !important;
        color: white;
        flex-direction: column !important;
    }

    .mud-typography-body1,
    .user-username {
        text-align: center
    }
</style>

<body>

    <div class="tabs">

        <MudTabs ApplyEffectsToContainer=true
                 Outlined=true
                 Elevation="4"
                 Rounded="true"
                 Centered="true"
                 Color="@Color.Primary"
                 Position="@TabPosition"
                 HeaderPosition="TabHeaderPosition.Before">

            <MudTabPanel Text="Group Details" Icon="@Icons.Material.Outlined.Details">
                <div id="groupDetails" class="tab-content active">

                    <div class="card">
                        <div class="data-item">
                            <MudIcon Icon="@Icons.Material.Filled.Label" Color="Color.Primary" /> <span class="data-label">Group Name:</span> @GroupDetailsDto.GroupName
                        </div>
                        <div class="data-item">
                            <MudIcon Icon="@Icons.Material.Filled.Numbers" Color="Color.Primary" /> <span class="data-label">Number of Members:</span> @GroupDetailsDto.NumberOfMembers
                        </div>
                        <div class="data-item">
                            <MudIcon Icon="@Icons.Material.Filled.DateRange" Color="Color.Primary" /> <span class="data-label">Latest Expense:</span> @GroupDetailsDto.LatestExpense
                        </div>
                        <div class="data-item">
                            <MudIcon Icon="@Icons.Material.Filled.Info" Color="Color.Primary" /> <span class="data-label">Description:</span> @GroupDetailsDto.Description
                        </div>

                    </div>

                    <div class="card">
                        <div class="data-item">
                            <MudIcon Icon="@Icons.Material.Filled.AdminPanelSettings" Color="Color.Primary" /> <span class="data-label">Group Admin:</span> @GroupDetailsDto.GroupAdmin
                        </div>
                        <div class="data-item">
                            <MudIcon Icon="@Icons.Material.Filled.DateRange" Color="Color.Primary" /> <span class="data-label">Group Creation Date:</span> @GroupDetailsDto.GroupCreationDate
                        </div>
                        <div class="data-item">
                            <MudIcon Icon="@Icons.Material.Filled.MoneyOff" Color="Color.Primary" /> <span class="data-label">Total Spent:</span> @GroupDetailsDto.TotalSpent.ToString("0.00")
                        </div>
                    </div>

                </div>
            </MudTabPanel>


            <MudTabPanel Text="Edit Group" Icon="@Icons.Material.Outlined.Edit">
                <EditForm @ref="EditGroupForm" Model="EditGroup" OnValidSubmit="OnValidSubmit">
                    <DataAnnotationsValidator />

                    <MudTextField Label="Group name" @bind-Value="EditGroup.GroupName" Required="true" />

                    <MudTextField Label="Group description" @bind-Value="EditGroup.GroupDescription" Required="true" />

                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Edit</MudButton>
                </EditForm>
            </MudTabPanel>

            <MudTabPanel Text="Members" Icon="@Icons.Material.Outlined.Groups">
                <div class="users-container">
                    @foreach (var user in GroupDetailsDto.UsersGroups)
                    {
                        <div class="user-card">
                            <div class="user-image">
                                @if (user.UserImage != null && user.UserImage.Length > 0)
                                {
                                    <img src="data:image/png;base64,@Convert.ToBase64String(user.UserImage)" alt="User Image" />
                                }
                                else
                                {
                                    <div class="avatar-circle">@user.UserName[0]</div>
                                }
                            </div>
                            <div class="user-details">
                                <p class="user-username">
                                    @user.UserName
                                    @if (user.IsAdmin)
                                    {
                                        <MudIcon Icon="@Icons.Material.Filled.AdminPanelSettings" Color="Color.Primary" Title="Is Admin" />
                                    }
                                    else
                                    {
                                        @string.Empty
                                    }
                                </p>
                            </div>

                            @if (user.IsAdmin)
                            {

                            }
                            else
                            {
                                <MudCheckBox Disabled="@(!ReadOnly)" Checked="false" Color="Color.Primary" />
                            }
                        </div>
                    }
                </div>

                <MudToolBar WrapContent="true" Class="group-details-users-toolbar">
                    <MudSwitch @bind-Value="@ReadOnly" Label="@(ReadOnly ? "Edit Mode" : "Read Mode")" LabelPosition="LabelPosition.Start" Color="Color.Info" />
                    <MudIconButton Disabled="@(!ReadOnly)" Icon="@Icons.Material.Outlined.Add" />
                    <MudIconButton Disabled="@(!ReadOnly)" Icon="@Icons.Material.Outlined.Remove" />
                </MudToolBar>

            </MudTabPanel>

            <MudTabPanel Text="Expenses" Icon="@Icons.Material.Outlined.AttachMoney" />


        </MudTabs>

    </div>


</body>