@page "/Group/SentInvitations"
@using SafeShare.ClientDTO.Enums

<style>
    :root {
        --background-color1: #fafaff;
        --background-color2: #ffffff;
        --background-color3: #ededed;
        --background-color4: #cad7fda4;
        --primary-color: #4b49ac;
        --secondary-color: #0c007d;
        --Border-color: #3f0097;
        --one-use-color: #3f0097;
        --two-use-color: #5500cb;
    }

    body {
        background-color: var(--background-color4);
        max-width: 100%;
        overflow-x: hidden;
    }

    .sent-invitation-details {
        display: flex;
        justify-content: flex-start;
        padding: 8px 0;
    }

    .label {
        font-weight: bold;
        margin-right: 10px;
        color: #555;
    }

    .value {
        color: #333;
    }

    .sent-invitations-container {
        padding: 20px;
        max-width: 100%;
        overflow-x: hidden;
    }

    .mud-expand-panel-header {
        background: rgba(89,74,226,1);
        color: white;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .no-invitations-message {
        text-align: center;
        margin: 20px;
        padding: 10px;
        background-color: #f5f5f5;
        border: 1px solid #ddd;
        border-radius: 8px;
        color: #777;
    }

    .colorChange{
        color: white !important;
    }
</style>

<div class="sent-invitations-container">
    <MudExpansionPanels MultiExpansion="true" Elevation="5" Square="false">
        @if (SentInvitationsList is null || SentInvitationsList.Count == 0)
        {
            <p class="no-invitations-message">No invitations have been sent.</p>
        }
        else
        {
            @foreach (var invitation in SentInvitationsList)
            {
                <MudExpansionPanel Text="@invitation.GroupName" MaxHeight="250" Icon="@Icons.Material.Filled.ExpandMore">
                    <div class="sent-invitation-details">
                        <div class="label">Status:</div>
                        <div class="value">@invitation.InvitationStatus.ToString()</div>
                    </div>
                    <div class="sent-invitation-details">
                        <div class="label">Sent on:</div>
                        <div class="value">@invitation.InvitationTimeSend.ToString("yyyy-MM-dd HH:mm")</div>
                    </div>
                    <div class="sent-invitation-details">
                        <div class="label">Sent to:</div>
                        <div class="value">@invitation.User</div>
                    </div>
                    <div class="sent-invitation-actions">
                        @if (invitation.InvitationStatus == InvitationStatus.Pending)
                        {
                            <MudButton Variant="Variant.Filled" Color="Color.Error" StartIcon="@Icons.Material.Filled.Delete" @onclick="() => DeleteInvitation(invitation)">

                                @if (_processingDeleteInvitation)
                                {
                                    <MudProgressCircular Class="ms-n1 colorChange" Size="MudBlazor.Size.Small" Indeterminate="true" />
                                    <MudText Class="ms-2">Deleting</MudText>
                                }
                                else
                                {
                                    <MudText>Delete</MudText>
                                }

                            </MudButton>
                        }
                    </div>
                </MudExpansionPanel>
            }
        }
    </MudExpansionPanels>
</div>